wrds==3.1.1
dateparser
dill
ipywidgets>=7.0.0
mypy-extensions
numba>=0.56.0
schedule
grpcio>=1.48.2
ccxt==1.91.1
exchange_calendars==4.1.1
jqdatasdk==1.8.10
lz4==4.0.1
matplotlib==3.5.2
numpy==1.23.1
pandas==1.4.3
pre-commit==2.19.0
pytest==7.1.2
scikit-learn==1.1.1
stable-baselines3[extra]==1.5.0
stockstats==0.4.1
tensorboardX==2.5.1
yfinance==0.1.72